[Unit]
Description=Service C - Internal Processing Service
After=network.target
[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/devops-lab/production-service-environment
Environment=PATH=/home/ubuntu/devops-lab/production-service-environment/venv/bin
ExecStart=/home/ubuntu/devops-lab/production-service-environment/venv/bin/python3 services/service-c/app.py
Restart=always
RestartSec=3
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
